.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
